<?xml version="1.0"?>
<launch>
    <!-- yaml file path -->
    <arg name="map_file" default="$(find chibi22_b)/map/map.yaml"/>
    <!-- <arg name="global_path_planner_settings" default="$(find chibi22_b)/config/param/global_path_planner.yaml"/> -->
    <arg name="local_path_planner_settings" default="$(find chibi22_b)/config/param/local_path_planner.yaml"/>
    <arg name="localizer_settings" default="$(find chibi22_b)/config/param/localizer.yaml"/>


    <!-- node launch -->
    <node pkg="chibi22_b" type="global_path_planner" name="global_path_planner"/>
    <node pkg="chibi22_b" type="global_map_inflater" name="global_map_inflater"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" output="screen"/>
    <node pkg="chibi22_b" type="local_goal_creator" name="local_goal_creator"/>
    <node pkg="chibi22_b" type="local_map_creator" name="local_map_creator"/>

    <node pkg="chibi22_b" type="localizer" name="localizer" output="screen">
        <rosparam command="load" file="$(arg localizer_settings)"/>
    </node>
    <node pkg="chibi22_b" type="local_path_planner" name="local_path_planner" output="screen">
        <rosparam command="load" file="$(arg local_path_planner_settings)"/>
    </node>

    <node pkg="urg_node" type="urg_node" name="urg_node" args="_ip_address:=192.168.1.222"/>
    <node pkg="roomba_500driver_meiji" type="main500" name="roomba_500driver_meiji"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find chibi22_b)/config/rviz/chibi22_b.rviz" output="screen"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /laser"/>
</launch>
