<?xml version="1.0"?>

<launch>
    <rosparam param="/use_sim_time">true</rosparam>
    <!-- yaml file path-->
    <arg name="map_file" default="$(find chibi22_b)/map/map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
    <arg name="localizer_settings" default="$(find chibi22_b)/config/param/localizer.yaml"/>

    <!-- node launch-->
    <node pkg="chibi22_b" type="localizer" name="localizer" output="screen">
        <rosparam command="load" file="$(arg localizer_settings)"/>
    </node>
    <node pkg="rosbag" name="bag" type="play" args="--clock $(env HOME)/bag/test_ok_0425.bag"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /laser"/>
    <node pkg="rviz" name="rviz" type="rviz" args="$(env HOME)/bag/localizer_move_test.rviz" output="screen"/>
</launch>
