<?xml version = "1.0"?>
<launch>
    <node pkg = "chibi22_b" name = "local_map_creator" type = "local_map_creator" output="screen">
        <param name = "hz_" type = "int" value = "10"/>
        <param name = "map_size_" type = "double" value = "200"/>
        <param name = "map_reso_" type = "double" value = "0.02"/>
        <param name = "roomba_radius_" type = "double" value = "0.25"/>
    </node>
    <!-- <node pkg = "roomba_500driver_meiji" name = "roomba_500driver_meiji" type = "main500"/> -->
</launch>
